.wrapper-update ::-webkit-scrollbar {
    width: 0;
}

.information-user{
    font-size: 20px;
    font-weight: 0;
}

.send-btn {
    width: 160px;
    height: 40px;
    text-align: left;
    background-color: #388738;
    color: #fdfdfd;
    border-radius: 3px;
}

.send-btn:hover{
    background-color: #0dab0d;
}

.css-ahj2mt-MuiTypography-root{
    font-size: 20px;
}

.cursor:hover {
    cursor: pointer;
}

.form-update-user{
    width: 600px;
    padding: 33px;
}

.form-label-input{
    width: 100%;
    margin-bottom: 10px;
}

.btn-container-user{
    display: flex;
    justify-content: end;
}