.table-container {
    width: 100%;
}

.table-user {
    width: 100%;
}

.input-username-email{
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
    height: 30px;
    width: 300px;
    margin-left: 15px;
}

.pl-15{
    padding-left: 15px;
}

.user-roles{
    width: 500px;
    text-align: center;
    padding: 8px;
}

div .table-user th{
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    font-weight: 400;
    flex: 1;
}

div .table-user tr, 
div .table-user th, 
div .table-user td {
    flex: 1;
    min-width: 200px;
    padding: 8px;
    text-align: center;
}

.user-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}