.table-container-user {
    width: 100%;
}

.table-user {
    width: 100%;
    table-layout: fixed; /* Đặt thuộc tính này để cho phép các ô trong table co giãn */
}

.table-user thead,
.table-user tbody {
    width: 100%; /* Đảm bảo rằng thead và tbody chiếm 100% chiều rộng của table */
    display: table; /* Để thead và tbody được hiển thị dưới dạng bảng */
    table-layout: fixed; /* Đặt thuộc tính này cho thead và tbody để các ô co giãn */
}

.input-username-email{
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
    height: 30px;
    width: 300px;
    margin-left: 15px;
}

.pl-15{
    padding-left: 15px;
}

.user-roles{
    text-align: center;
    padding: 8px;
}

div .table-user th{
    height: 100px;
    font-size: 25px;
    font-weight: 400;
    flex: 1;
}

.table-user th:not(.user-id),
.table-user td:not(.user-id) {
    width: auto; /* Cho phép các ô co giãn tự động */
    min-width: 200px; /* Đặt giá trị tối thiểu cho chiều rộng của các ô */
    padding: 8px;
    text-align: center;
    height: 43px;
}

.user-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
}

.user-id{
    width: 10%;
    padding: 8px;
    text-align: center;
}

.user-actions {
    width: 200px; /* Chiều rộng cố định cho cột "Hành động" */
}

.user-name,
.user-email,
.user-phone,
.user-roles {
    flex-grow: 1; /* Cho phép co giãn tự động theo chiều rộng của table */
    min-width: 200px; /* Giá trị tối thiểu để đảm bảo không bị quá nhỏ */
}