html,
body {
    height: 100%;
    /* Đảm bảo chiều cao của html và body bằng với chiều cao viewport */
    margin: 0;
    /* Xóa các margin mặc định */
    padding: 0;
    /* Xóa các padding mặc định */
    display: flex;
    /* Thiết lập Flexbox */
    flex-direction: column;
    /* Các thành phần con sắp xếp theo chiều dọc */
    /* min-height: 100vh; */
    /* Đảm bảo body có ít nhất chiều cao bằng viewport */

    background-color: rgb(231, 227, 227) !important;

    position: relative;

}

#root {

    flex: 1;
    /* Cho phép div này mở rộng để chiếm mọi không gian có sẵn */
    position: relative;

}

footer {
    position: absolute;
    margin-bottom: 25px;
    width: 100%;
    bottom: 0;
}

.iconCodeGym {
    width: 40px;
    border-radius: 8px;
}

.breadCrumbs .css-1wuw8dw-MuiBreadcrumbs-separator {
    margin: 0;
}

.linkChild {
    text-decoration: none;
    color: inherit;
    padding-left: 38px;
}

.linkChild span {
    font-size: 14px !important;
}

.listChild .css-1aosqlb-MuiButtonBase-root-MuiListItem-root {
    padding-top: 0;
    padding-bottom: 2px;
}