*{
    font-family: sans-serif;
}

.large-div-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.small-div-container {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin: 10px;
}

.smaller-div-container {
    display: flex;
    justify-content: space-between;
    height: 330px;
    padding: 30px;
}

.smaller-content {
    width: 300px;
    height: 100%;
    color: white;
}

.smaller-content-title {
    font-weight: 550;
}

.smaller-content-data {
    display: flex;
    padding-left: 25px;
    padding-top: 15px;
}

.smaller-content-number {
    text-align: right;
    margin-right: 10px;
}

.smaller-icon-container {
    width: 200px;
    height: 100%;
    position: relative;
}

.smaller-icon-container-icon {
    width: 60%;
    height: 60%;
    color: white;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.first-div {
    background-color: rgb(0, 179, 255);
}

.second-div {
    background-color: purple;
}

.third-div {
    background-color: orange;
}

.fourth-div {
    background-color: green;
}

.box-change-dashboard{
    margin-left: 64px;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .small-div-container {
        width: 100%; /* Full width on mobile */
        height: auto; /* Auto height to fit content */
    }

    .smaller-div-container {
        flex-direction: column; /* Stack content vertically */
        padding: 15px; /* Reduce padding */
        width: 100%;
        justify-content: center;
    }

    .smaller-content, .smaller-icon-container {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .smaller-icon-container-icon {
        justify-content: center;
    }

    .smaller-content-data {
        padding-left: 0; /* Remove left padding */
        padding-top: 10px; /* Adjust top padding */
        justify-content: center;
        padding: 10px;
        text-wrap: nowrap;
    }

    .box-change-dashboard{
        margin-left: 35px;
    }

    .large-div-container {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
}

/* Tablet: width >= 740px and < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .small-div-container {
        width: 45%; /* Adjust width for tablet */
        height: auto; /* Auto height to fit content */
    }

    .smaller-div-container {
        padding: 20px; /* Adjust padding */
    }

    .smaller-content, .smaller-icon-container {
        width: 50%; /* Adjust width */
        height: 130px;
    }

    .smaller-content-data {
        padding-left: 15px; /* Adjust left padding */
        padding-top: 10px; /* Adjust top padding */
        justify-content: center;
        padding: 27px;
        text-wrap: nowrap;
    }
}