.title {
    font-size: 28px;
    font-weight: 500;
    color: #687168;
}

.practice {
    color: #005B9F;
}

.content-recruiment {
    margin-top: 20px;
    margin-bottom: 15px;
    min-height: 760px;
    padding: 20px;
    width: 100%;
    min-width: 1000px;
    background-color: #fdfdfd;

}

.hover-btn:hover {
    background-color: #21912e;
    transition: 0.5s ease-in-out;
}

.cursor-pointer {
    cursor: pointer !important;
}

.w-px {
    width: 300px;
}

.ml-10 {
    margin-left: 10px !important;
}

.search-icon {
    right: 7px;
    top: 5.1px;
    width: 25px;
    height: 25px;
}

.plus-icon {
    font-size: 27px !important;
    left: 2px;
    top: 4px;
}

.btn-create {
    border-radius: 4px;
    font-size: 20px;
    border: none;
    height: 100%;
    background-color: #419A00;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;

}

.search-input input {
    border-radius: 4px;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    padding-left: 14px;
    padding-right: 36px;
    height: 35px;
}

.pencil-btn {
    background-color: #FFAA00 !important;
    border-radius: 50% !important;
    width: 25px !important;
    height: 25px !important;
    padding: 3px !important;
    color: white !important;
}



.search-input input:focus {
    outline: none;
    border: 2px solid #4088FF !important;
}


.min-width {
    min-width: 243px;
}

.header-tr th {
    font-weight: 400;
}

.header-tr {
    height: 100px;
    margin-bottom: 10px;
    font-size: 25px;
}

#formCreateRecruitmentPlan .MuiPaper-root {
    max-width: 960px;
}

#formCandidateCreate .MuiPaper-root {
    max-width: 812px;
}

#formWatchRecruitmentPlan .MuiPaper-root {
    max-width: 800px;
}


#dialog .MuiPaper-root {
    max-width: 1315px;
}

#formWatch .MuiPaper-root {
    width: 45%;
    overflow: hidden;
}

.mw .MuiPaper-root {
    min-width: 600px;
}
.mwQC .MuiPaper-root {
    min-width: 760px;
}

.mw-200 {
    min-width: 200px;
}

.select-form .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    top: -10px !important;
}

.select-form .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 5px;
}

.select-form .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 100%;
}



.count-tr {
    height: 40px;
}


.send {
    text-align: right;
    display: flex;
    margin-top: 7px;
    justify-content: flex-end;

}

.send-btn {
    width: 80px;
    text-align: left;
    background-color: #388738;
    color: #fdfdfd;
    border-radius: 3px;
}

.plusTech {
    margin-left: 14px;
    font-size: 14px;
}

.select-edit {
    padding-right: 34px;
    padding-left: 14px;
    transition: 0.2s ease-in-out;
}

.select-edit:focus {
    color: rgb(43, 42, 42) !important;
    transition: 0.2s ease-in-out;
}


.send .iconSend {
    top: 6px;
    right: 9px;
    color: #fdfdfd;
}

.hr-infor {
    border: 3px solid orange;
    margin: 1px;
    opacity: 1;
    border-radius: 4px;
    width: 35%;
}

/*Có thể tái sử dụng */
.listChild>div {
    padding-left: 0;
}

.select-navbar+span {
    z-index: -1;
    background-color: #ffac14;
}

.linkChild {
    width: 238px;
    padding-left: 80px;
}


.select-navbar+span:hover {
    /* --bs-link-color-rgb: var(--bs-link-hover-color-rgb); */
    background-color: #005B9F;
}


.w-618 {
    width: 618px;
}

.w-372 {
    width: 372px;
}


.w-310 {
    width: 310px;
}

.w-160 {
    width: 160px;
}

.ws-nowrap {
    white-space: nowrap;
}

.err-valid {
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #ff3535;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.clr-white {
    color: #f3f3f3;
}

.font-w-1 {
    font-weight: 400;
}

.non-outline {
    outline: none;
}

.transformTooltip {
    inset: 0 10px 10px 10px !important;
}

.grey-text {
    color: #687168 !important;
}

.font-size-medium {
    font-size: 36px !important;
}

.font-size-large {
    font-size: 40px !important;
}

.white-div {
    background-color: #fdfdfd !important;
}


.color-blue {
    color: #258BD0 !important
}

.bg-whiteImportant {
    background-color: #fdfdfd !important;
}

.color-red {
    color: red;
}


.border-clr-grey {
    border-color: light-dark(rgb(163 163 163), rgb(133, 133, 133)) !important;
}

.border {
    border: 1px solid;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.child:last-child {
    margin-bottom: 0;
}

.w-130 {
    width: 130px;
}

.w-1 {
    width: 1px;
}

.w-600 {
    width: 600px;
}

.w-250 {
    width: 220px;
}

.p-es-8 {
    padding: 8px 0;
}

.h-40 {
    height: 40px;
}

.p-tricklord {
    padding-right: 31px;
}

.align-item-center {
    align-items: center !important;
}

.align-item-flex-end {
    align-items: flex-end !important;
}


.fs-edit {
    font-size: 45px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-1_5em {
    font-size: 1.5em !important;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-16 {
    font-size: 16px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mr-15 {
    margin-right: 15px;
}

.fs-18_5 {
    font-size: 18.5px;
}

.bg-clr-danger {
    background-color: #FF4A4A !important;
}

.bg-clr-success {
    background-color: #419A00 !important;
}

.clr-danger {
    color: #FF4A4A !important;
}

.oc-08 {
    opacity: 0.8;
}

.w-98 {
    width: 98%;
}

.height-35 {
    height: 35px;
}

.resize {
    overflow: hidden;
    resize: none;
}

.text-area {
    height: 200px;
    padding-top: 32px !important;
}

.pr-0 {
    padding-right: 0;
}

.pl-20 {
    padding-left: 20px;
}

.time-set {
    width: 70px;
}

.time-set div {
    height: 38px;
}

.time-set div input {
    text-align: center;
    color: #687168;

}

#time .css-v0pjtz-MuiStack-root,
#time .css-a643pv-MuiStack-root {
    padding: 0;
    overflow: hidden;
}

.date-set div {
    text-align: center;
    width: 205px;
    margin-left: 5px;
    height: 38px;

}

.date-set div div {
    width: 18px;
    justify-content: flex-end;
}

.date-set div input {
    text-align: center;
    color: #687168;
}

.text-area-field .MuiFormControl-root {
    width: 100%;
    padding: 10px;
    padding-left: 0;
}

.w-auto-complete .base-Popper-root {
    white-space: nowrap;
    min-width: 420px;
    margin-left: 50px !important;
    margin-top: 10px !important;
    /* height: 30px !important; */
}

.auto-complete .MuiInputBase-root {
    position: relative;
    height: 35px;
}

.auto-complete .MuiInputBase-root input {
    position: absolute;
    width: 75% !important;
    padding-right: 30px !important;
}


/*Có thể tái sử dụng */
.bg-clr-primary {
    background-color: #398CC4;
}

.bg-clr-successV1 {
    background-color: #419A00;
}

.table-edit th,
.table-edit td {
    border: 2px solid;
    border-color: #D5D5D5;
}

.namePersonal {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 200;
}

.time-edit {
    font-size: 16px;
    margin-bottom: 0.5rem;
    text-align: center;
    line-height: 36px;
    margin-left: 15px;
}

.btn-edit {
    border-radius: 4px;
    font-size: 20px;
    padding: 3px 6px;
}

.hover-danger:hover {
    color: #FF4A4A !important;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.hover-danger {
    transition: 0.2s ease-in-out;
}

.hover-warning:hover {
    background-color: #fab11f !important;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.hover-warning {
    transition: 0.2s ease-in-out;
}

.hover-primary:hover {
    color: #3165f3 !important;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.hover-primary {
    transition: 0.2s ease-in-out;
}

.page {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.first-button {
    border-radius: 50%;
}

.hover-btn-page {
    transition: 0.3s ease-in-out;
}

.hover-btn-page:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
    transition: 0.2s ease-in-out;
}

.icon-page {
    top: 3px;
    left: 2.5px;
}

.btn-page {
    width: 30px;
    height: 30px;
    background-color: #fdfdfd;
    border: none;
}

.svg-size span svg {
    font-size: 18px;
}

.svg-size-err span svg {
    transform: scale(1.13);
    transform-origin: center;
    color: red !important;
}

.svg-size-none span svg {
    color: rgba(158, 158, 158, 255) !important;
}

.css-1pe7n21-MuiStepConnector-root {
    width: 10px;
}

.svg-size span .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.svg-size span .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: green;
}

.svg-size span {
    width: 32px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.a-progress {
    color: #3232f0;
    text-decoration: underline;
    font-size: 16px;
}

.input-disabled {
    position: relative;
  }
  
  .input-disabled:after {
    content: "\f057"; /* Unicode cho icon cấm */
    font-family: "Font Awesome 5 Free"; /* Sử dụng thư viện Font Awesome */
    font-weight: 900;
    color: #dc3545; /* Màu đỏ */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: not-allowed;
    display: none;
  }
  
  .input-disabled:hover:after,
  .input-disabled:focus:after {
    display: block;
  }
  .input-container.input-disabled {
    position: relative;
  }
  
  .input-container.input-disabled:after {
    content: "\f057"; /* Unicode cho icon cấm */
    font-family: "Font Awesome 5 Free"; /* Sử dụng thư viện Font Awesome */
    font-weight: 900;
    color: #dc3545; /* Màu đỏ */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: not-allowed;
    display: none;
  }
  
  .input-container.input-disabled:hover:after {
    display: block;
  }
  .select-container.input-disabled {
    position: relative;
  }
  
  .select-container.input-disabled:after {
    content: "\f057"; /* Unicode cho icon cấm */
    font-family: "Font Awesome 5 Free"; /* Sử dụng thư viện Font Awesome */
    font-weight: 900;
    color: #dc3545; /* Màu đỏ */
    position: absolute;
    top: 62%; /* Thay đổi giá trị này để di chuyển icon cấm */
    right: 10px;
    transform: translateY(-50%);
    cursor: not-allowed;
    display: none;
  }
  
  .select-container.input-disabled:hover:after {
    display: block;
  }
