.title {
    font-size: 28px;
    font-weight: 500;
    color: #687168;
}

.practice {
    color: #4d4dff;
}

.content-recruiment {
    margin-top: 20px;
    margin-bottom: 15px;
    min-height: 580px;
    padding: 20px;
    width: 100%;
    background-color: #fdfdfd;

}

.cursor-pointer {
    cursor: pointer;
}

.w-px {
    width: 250px;
}

.h-px {
    margin-left: 10px;

    height: 30px !important;
    padding: 0 !important;
}

.top-left {
    left: 5px !important;
    top: -12px !important;
}

.search-icon {
    right: 7px;
    top: 2px;
    width: 25px;
    height: 25px;
}

.plus-icon {
    left: 6px;
    top: 4px;
}

.btn-create {
    border: none;
    height: 110%;
    background-color: #20af30;
    padding: 0 10px;
}

.search-input input {
    border-radius: 4px;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    padding-left: 14px;
    padding-right: 36px;

}
.pencil-btn{
    background-color: #ff8a00 !important;
    border-radius: 50% !important;
    width: 25px !important;
    height: 25px !important;
    padding: 3px !important;
    color: white !important;
}
.search-input input:focus {
    outline: none;
    border: 2px solid #4088FF;
}

.min-width {
    min-width: 195px;
}

.header-tr th {
    font-weight: 400;
}

.header-tr {
    height: 100px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* .count-td{
    counter-reset: my-sec-counter;
} */
.count-td::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
}

.count-tr {
    height: 40px;
}


/*Có thể tái sử dụng */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.clr-white {
    color: #f3f3f3;
}
.w-100{
    width: 100%;
}

.font-w-1 {
    font-weight: 400;
}

.non-outline {
    outline: none;
}

.grey-text {
    color: #687168;
}

.font-size-medium {
    font-size: 36px !important;
}
.font-size-large{
    font-size: 40px !important;
}

.white-div {
    background-color: #fdfdfd !important;
}


.color-blue {
    color: #4f4fe5 !important
}

/*Có thể tái sử dụng */